name: Matrix Demo
on: push
jobs:
  build:
    continue-on-error: true
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        node-version: [16, 18]
        operating-system: [ubuntu-latest, windows-latest]
        include:
            - node-version: 20
              operating-system: ubuntu-latest
        exclude:
          - node-version: 16
            operating-system: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build